@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f2f2f2;
    --primary-dark: #1f1f1f;
    --background: #050914;
    --background-foreground: #23232d;
    --card: #050914;
    --border: #222f44;
    --input: #1e293b;

    --blueBackground: #42b6e3;
    --purpleBackground: #c377e0;
    --orangeBackground: #eb5a46;
    --greenBackground: #61bd4f;
    --redBackground: #ff4538;
    --darkBlueBackground: #0055cc;
    --radius: 0.7rem;
  }
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: #232332;
}

@layer base {
  body {
    @apply bg-background;
  }
}
